.horizontal-scroll-container {
  /* background-color: red; */
  width: 100%;
  /* height: 130px; */
  /* padding: 10px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;  
  gap: 8px;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row; /* آیتم‌ها افقی کنار هم */
  overflow-x: auto; /* اسکرول افقی فعال */
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* برای فایرفاکس */
  -ms-overflow-style: none; /* برای IE */
  gap: 8px;
  direction: rtl; /* Ensure RTL regardless of page dir */
  scroll-snap-type: x mandatory;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* برای کروم */
}

.snippet-card {
  width: 100%; /* ← بسیار مهم */
  flex-shrink: 0; /* ← نذار کارت جمع بشه */
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  background: #014D98;
  color: white;
  display: flex;
  justify-content: space-between;
  scroll-snap-align: start;
}


.snippet-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snippet-title{
  margin: 0;
}

.snippet-cta{
  /* background-color: #9c0202; */
    border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.horizontal-scroll-dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
    /* margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px; */
}