.service-details {
  width: 100%;
  height: 20%;
  background-color: #E4F2FF;
  border-radius: 12px;
  padding: 10px;
  margin-inline:auto;
  /* font-weight: 400; */
  /* font-size: x-small; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.service-details .detail-titles {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.service-details .user-informations{
  border-top: 1px solid #D5EBFF;
  display: flex;
  justify-content: space-around;
}

.user-informations div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-informations div span{
  /* margin-block: 5px; */
}

.user-informations .user-information-numbers {
  font-size: medium;
  padding: 5px;
  background-color: #CBE7FE;
  /* border-radius:50%; */
}